# Nave Bayes Binary Text Classification
* Text Base binary classification
* work by caculating the probability of a given text belonging to each class
* it is particulary usefull for classifying large volumes of text due to its speed and accuracy.
* best choice for binary classifcation

# https://www.kaggle.com/competitions/sentiment-analysis-on-movie-reviews/data

The sentiment labels are:

0. - **negative**
1. - somewhat negative
2. - neutral
3. - somewhat positive
4. - **positive**

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df1 = pd.read_feather("./data.feather")
df1.head()

,Phrase,Sentiment,input_data
0,would have a hard time sitting through this one,0,"['would, hard, time, sit, one, ']"
1,have a hard time sitting through this one,0,"['have, hard, time, sit, one, ']"
2,Aggressive self-glorification and a manipulati...,0,"['aggressive, self, clarification, manipulativ..."
3,self-glorification and a manipulative whitewash,0,"['self, clarification, manipulative, whitewash..."
4,Trouble Every Day is a plodding mess .,0,"['trouble, every, day, pad, mess, ., ']"

In [11]:
row1 = df1.values[0]
print(row1[0],type(row1[0]))
print(row1[1],type(row1[1]))
print(row1[2],type(row1[2]))

would have a hard time sitting through this one <class 'str'>
0 <class 'int'>
["'would" 'hard' 'time' 'sit' 'one' "'"] <class 'numpy.ndarray'>

In [12]:
df1['input_data'].apply(lambda x: " ".join(x))

0                               'would hard time sit one '
1                                'have hard time sit one '
2        'aggressive self clarification manipulative wh...
3             'self clarification manipulative whitewash '
4                          'trouble every day pad mess . '
                               ...
16273                                'is laugh enjoyable '
16274          ' unique culture present universal appeal '
16275                             'with universal appeal '
16276    'really great job anchor character emotional r...
16277    ' great job anchor character emotional realiti...
Name: input_data, Length: 16278, dtype: object

In [13]:
df1['input_data1'] = df1['input_data'].apply(lambda x: " ".join(x))
df1.head()

,Phrase,Sentiment,input_data,input_data1
0,would have a hard time sitting through this one,0,"['would, hard, time, sit, one, ']",'would hard time sit one '
1,have a hard time sitting through this one,0,"['have, hard, time, sit, one, ']",'have hard time sit one '
2,Aggressive self-glorification and a manipulati...,0,"['aggressive, self, clarification, manipulativ...",'aggressive self clarification manipulative wh...
3,self-glorification and a manipulative whitewash,0,"['self, clarification, manipulative, whitewash...",'self clarification manipulative whitewash '
4,Trouble Every Day is a plodding mess .,0,"['trouble, every, day, pad, mess, ., ']",'trouble every day pad mess . '

In [15]:
df1.Sentiment.value_counts()

1    9206
0    7072
Name: Sentiment, dtype: int64

In [17]:
df1.Sentiment.value_counts(normalize=True) * 100

1    56.554859
0    43.445141
Name: Sentiment, dtype: float64

In [18]:
9206 / (9206+7072)

0.565548593193267

In [27]:
print((df1.Sentiment.value_counts()*20/100).sum())
df1.Sentiment.value_counts()*20/100

3255.6000000000004

1    1841.2
0    1414.4
Name: Sentiment, dtype: float64

In [45]:
test = pd.concat([df1[df1.Sentiment==1].sample(1841),
                  df1[df1.Sentiment==0].sample(1414)])[["input_data1","Sentiment"]]

print(len(test))
test.head()

3255

                                             input_data1  Sentiment
13080          'good action , good act , good dialogue '          1
12772  'is win comedy excite imagination tackle funny...          1
14402                            'much dramatic impact '          1
7278   'an example kind lush , develop movie experien...          1
9384   'executed gentle insistent sincerity , good hu...          1

In [37]:
(~df1.index.isin(test.index.values))

array([ True,  True,  True, ...,  True,  True,  True])

In [46]:
train = df1.loc[(~df1.index.isin(test.index.values)),["input_data1","Sentiment"]]
print(len(train))
train.head()

13023

                                         input_data1  Sentiment
0                         'would hard time sit one '          0
2  'aggressive self clarification manipulative wh...          0
3       'self clarification manipulative whitewash '          0
4                    'trouble every day pad mess . '          0
5                                     'is pad mess '          0

In [33]:
print(len(df1))

16278

<img src="https://miro.medium.com/max/1400/1*OEmWDt4eztOcm5pr2QbxfA.png">

In [47]:
X = df1[["input_data1"]] # corpus all text from your dataset
X.head()

                                         input_data1
0                         'would hard time sit one '
1                          'have hard time sit one '
2  'aggressive self clarification manipulative wh...
3       'self clarification manipulative whitewash '
4                    'trouble every day pad mess . '

# Now convert our corpus into vector with sklearn

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer
#list of text document
courpus = X.input_data1.values
# create transorm
vectorizer = TfidfVectorizer()
# tokeniz and build vocab
vectorizer.fit(courpus)
#summarize
# print(vectorizer.vocabulary_)

dict(sorted(vectorizer.vocabulary_.items(), key=lambda item: item[1]))

{'000': 0,
 '10': 1,
 '100': 2,
 '101': 3,
 '102': 4,
 '103': 5,
 '104': 6,
 '105': 7,
 '11': 8,
 '110': 9,
 '112': 10,
 '12': 11,
 '120': 12,
 '127': 13,
 '129': 14,
 '12th': 15,
 '13': 16,
 '14': 17,
 '140': 18,
 '146': 19,
 '15': 20,
 '16': 21,
 '18': 22,
 '19': 23,
 '1920': 24,
 '1930s': 25,
 '1937': 26,
 '1950': 27,
 '1950s': 28,
 '1953': 29,
 '1957': 30,
 '1958': 31,
 '1959': 32,
 '1960': 33,
 '1962': 34,
 '1970s': 35,
 '1975': 36,
 '1984': 37,
 '1989': 38,
 '1991': 39,
 '1993': 40,
 '1997': 41,
 '19th': 42,
 '20': 43,
 '2000': 44,
 '2001': 45,
 '2002': 46,
 '20th': 47,
 '21': 48,
 '21st': 49,
 '22': 50,
 '24': 51,
 '2455': 52,
 '25': 53,
 '270': 54,
 '295': 55,
 '30': 56,
 '300': 57,
 '3000': 58,
 '30s': 59,
 '3d': 60,
 '40': 61,
 '40s': 62,
 '451': 63,
 '48': 64,
 '4ever': 65,
 '4th': 66,
 '50': 67,
 '500': 68,
 '50s': 69,
 '51': 70,
 '52': 71,
 '5ths': 72,
 '60': 73,
 '60s': 74,
 '65': 75,
 '65th': 76,
 '70s': 77,
 '71': 78,
 '75': 79,
 '78': 80,
 '80': 81,
 '800': 82,
 '80s': 83,
 '83': 84,
 '84': 85,
 '86': 86,
 '87': 87,
 '88': 88,
 '8th': 89,
 '90': 90,
 '90s': 91,
 '91': 92,
 '93': 93,
 '94': 94,
 '95': 95,
 '98': 96,
 '99': 97,
 'aa': 98,
 'abandon': 99,
 'abbess': 100,
 'abbott': 101,
 'abc': 102,
 'abdul': 103,
 'abel': 104,
 'abhorrent': 105,
 'abide': 106,
 'abilities': 107,
 'ability': 108,
 'able': 109,
 'aboriginal': 110,
 'about': 111,
 'above': 112,
 'abroad': 113,
 'abrupt': 114,
 'absent': 115,
 'absolute': 116,
 'absolutely': 117,
 'absorb': 118,
 'absorption': 119,
 'abstract': 120,
 'absurd': 121,
 'absurdities': 122,
 'absurdity': 123,
 'abundant': 124,
 'abuse': 125,
 'abysmally': 126,
 'academy': 127,
 'accent': 128,
 'accept': 129,
 'acceptable': 130,
 'access': 131,
 'accessible': 132,
 'accident': 133,
 'accidental': 134,
 'acclaim': 135,
 'accommodate': 136,
 'accompany': 137,
 'accomplish': 138,
 'accomplished': 139,
 'accomplishes': 140,
 'accomplishment': 141,
 'accomplishments': 142,
 'accord': 143,
 'account': 144,
 'accountable': 145,
 'accumulate': 146,
 'accurate': 147,
 'accurately': 148,
 'accuse': 149,
 'ace': 150,
 'achieve': 151,
 'achievement': 152,
 'achievements': 153,
 'achieves': 154,
 'achingly': 155,
 'acid': 156,
 'acidity': 157,
 'acknowledge': 158,
 'acquires': 159,
 'acre': 160,
 'acres': 161,
 'across': 162,
 'act': 163,
 'acting': 164,
 'action': 165,
 'activate': 166,
 'activated': 167,
 'activism': 168,
 'activities': 169,
 'actor': 170,
 'actorliness': 171,
 'actors': 172,
 'actress': 173,
 'actresses': 174,
 'acts': 175,
 'actual': 176,
 'actually': 177,
 'acumen': 178,
 'acute': 179,
 'adage': 180,
 'adam': 181,
 'adams': 182,
 'adapt': 183,
 'adaptation': 184,
 'adaptations': 185,
 'add': 186,
 'addict': 187,
 'addiction': 188,
 'adding': 189,
 'addition': 190,
 'address': 191,
 'adds': 192,
 'adequate': 193,
 'adequately': 194,
 'adhere': 195,
 'adherents': 196,
 'administration': 197,
 'admirable': 198,
 'admire': 199,
 'admirers': 200,
 'admission': 201,
 'admit': 202,
 'admittedly': 203,
 'adobe': 204,
 'adolescence': 205,
 'adolescent': 206,
 'adopt': 207,
 'adorable': 208,
 'adorn': 209,
 'adorned': 210,
 'adrenaline': 211,
 'adrian': 212,
 'adult': 213,
 'adultery': 214,
 'adults': 215,
 'advance': 216,
 'advantage': 217,
 'adventure': 218,
 'adventurous': 219,
 'advertise': 220,
 'advice': 221,
 'advise': 222,
 'advocacy': 223,
 'aerial': 224,
 'aerobic': 225,
 'aesthetic': 226,
 'aesthetically': 227,
 'aesthetics': 228,
 'affability': 229,
 'affair': 230,
 'affect': 231,
 'affected': 232,
 'affection': 233,
 'affectionate': 234,
 'affinity': 235,
 'affirm': 236,
 'affirming': 237,
 'affleck': 238,
 'afford': 239,
 'affords': 240,
 'afghan': 241,
 'aficionados': 242,
 'afraid': 243,
 'african': 244,
 'after': 245,
 'afternoon': 246,
 'aftertaste': 247,
 'afterthought': 248,
 'afterwards': 249,
 'again': 250,
 'age': 251,
 'agency': 252,
 'agenda': 253,
 'agendas': 254,
 'agent': 255,
 'agents': 256,
 'aggrandize': 257,
 'aggravate': 258,
 'aggravating': 259,
 'aggressive': 260,
 'aggressively': 261,
 'agitprop': 262,
 'ago': 263,
 'agonize': 264,
 'agonizing': 265,
 'agreeable': 266,
 'ah': 267,
 'ahead': 268,
 'ai': 269,
 'aid': 270,
 'ailments': 271,
 'aim': 272,
 'aimed': 273,
 'aimlessly': 274,
 'aimlessness': 275,
 'aims': 276,
 'air': 277,
 'airline': 278,
 'aisle': 279,
 'aisles': 280,
 'akin': 281,
 'al': 282,
 'alabama': 283,
 'alas': 284,
 'albeit': 285,
 'album': 286,
 'alcatraz': 287,
 'alec': 288,
 'alert': 289,
 'alexander': 290,
 'alfred': 291,
 'alias': 292,
 'alice': 293,
 'alien': 294,
 'alienate': 295,
 'alienation': 296,
 'align': 297,
 'alike': 298,
 'alive': 299,
 'all': 300,
 'allege': 301,
 'allegedly': 302,
 'allegiance': 303,
 'allegory': 304,
 'allen': 305,
 'allison': 306,
 'allow': 307,
 'allows': 308,
 'allude': 309,
 'alluding': 310,
 'ally': 311,
 'alma': 312,
 'almodovar': 313,
 'almost': 314,
 'alone': 315,
 'along': 316,
 'alongside': 317,
 'already': 318,
 'also': 319,
 'alt': 320,
 'alter': 321,
 'alterations': 322,
 'alternately': 323,
 'alternating': 324,
 'alternative': 325,
 'although': 326,
 'alto': 327,
 'altogether': 328,
 'always': 329,
 'am': 330,
 'amalgam': 331,
 'amanda': 332,
 'amar': 333,
 'amateur': 334,
 'amateurishly': 335,
 'amateurs': 336,
 'amaze': 337,
 'amazing': 338,
 'amazingly': 339,
 'ambiguities': 340,
 'ambiguity': 341,
 'ambiguous': 342,
 'ambition': 343,
 'ambitious': 344,
 'ambivalent': 345,
 'ame': 346,
 'america': 347,
 'american': 348,
 'americans': 349,
 'amicable': 350,
 'amid': 351,
 'amis': 352,
 'amnesia': 353,
 'among': 354,
 'amor': 355,
 'amos': 356,
 'amount': 357,
 'amour': 358,
 'amp': 359,
 'ample': 360,
 'amuse': 361,
 'amusement': 362,
 'amusing': 363,
 'amy': 364,
 'an': 365,
 'ana': 366,
 'anachronistic': 367,
 'analysis': 368,
 'analytical': 369,
 'analyze': 370,
 'anarchist': 371,
 'anatomical': 372,
 'anchor': 373,
 'anchored': 374,
 'ancient': 375,
 'and': 376,
 'anderson': 377,
 'android': 378,
 'anemia': 379,
 'anew': 380,
 'angel': 381,
 'angela': 382,
 'angels': 383,
 'angle': 384,
 'angry': 385,
 'angst': 386,
 'anguish': 387,
 'animal': 388,
 'animals': 389,
 'animate': 390,
 'animation': 391,
 'animations': 392,
 'animatronic': 393,
 'anime': 394,
 'anna': 395,
 'annals': 396,
 'anne': 397,
 'annex': 398,
 'annie': 399,
 'annoy': 400,
 'annoyance': 401,
 'annoying': 402,
 'annum': 403,
 'anomaly': 404,
 'another': 405,
 'answer': 406,
 'ante': 407,
 'anthony': 408,
 'anthropomorphic': 409,
 'anti': 410,
 'antic': 411,
 'anticipate': 412,
 'anticipation': 413,
 'antidote': 414,
 'antisemitic': 415,
 'antitrust': 416,
 'antonio': 417,
 'ants': 418,
 'any': 419,
 'anybody': 420,
 'anyone': 421,
 'anything': 422,
 'anywhere': 423,
 'aos': 424,
 'apart': 425,
 'apartheid': 426,
 'apartments': 427,
 'ape': 428,
 'apex': 429,
 'aplomb': 430,
 'apocalypse': 431,
 'apollo': 432,
 'appal': 433,
 'appalling': 434,
 'apparatus': 435,
 'apparent': 436,
 'apparently': 437,
 'appeal': 438,
 'appealing': 439,
 'appear': 440,
 'appearance': 441,
 'appears': 442,
 'appetite': 443,
 'appetizing': 444,
 'applauded': 445,
 'apple': 446,
 'apply': 447,
 'appoint': 448,
 'appreciate': 449,
 'appreciates': 450,
 'appreciation': 451,
 'approach': 452,
 'approached': 453,
 'appropriate': 454,
 'apps': 455,
 'aptitude': 456,
 'arbitrarily': 457,
 'arbitrary': 458,
 'arc': 459,
 'arcane': 460,
 'arch': 461,
 'archetypal': 462,
 'architecture': 463,
 'archival': 464,
 'archive': 465,
 'ardent': 466,
 'are': 467,
 'area': 468,
 'areas': 469,
 'aren': 470,
 'argentina': 471,
 'arguably': 472,
 'argue': 473,
 'argument': 474,
 'arguments': 475,
 'aristocracy': 476,
 'arithmetic': 477,
 'arm': 478,
 'armed': 479,
 'armor': 480,
 'army': 481,
 'arnold': 482,
 'around': 483,
 'array': 484,
 'arrest': 485,
 'arrive': 486,
 'arrived': 487,
 'arrives': 488,
 'arrogance': 489,
 'arrogant': 490,
 'arrow': 491,
 'art': 492,
 'articulate': 493,
 'artifact': 494,
 'artificial': 495,
 'artificially': 496,
 'artist': 497,
 'artistes': 498,
 'artistic': 499,
 'artistically': 500,
 'artistry': 501,
 'artists': 502,
 'artman': 503,
 'arts': 504,
 'artsploitation': 505,
 'artwork': 506,
 'artworks': 507,
 'as': 508,
 'ascend': 509,
 'ascends': 510,
 'ash': 511,
 'ashamed': 512,
 'ashley': 513,
 'asian': 514,
 'aside': 515,
 'ask': 516,
 'asleep': 517,
 'aspect': 518,
 'aspects': 519,
 'asphalt': 520,
 'aspire': 521,
 'assassin': 522,
 'assassination': 523,
 'assassins': 524,
 'assault': 525,
 'assay': 526,
 'assemble': 527,
 'assembled': 528,
 'assembly': 529,
 'assert': 530,
 'assets': 531,
 'associate': 532,
 'association': 533,
 'assume': 534,
 'assumption': 535,
 'assurance': 536,
 'assure': 537,
 'assured': 538,
 'astonish': 539,
 'astonished': 540,
 'astonishing': 541,
 'astound': 542,
 'astounding': 543,
 'astronaut': 544,
 'astronauts': 545,
 'astronomical': 546,
 'astute': 547,
 'asylum': 548,
 'at': 549,
 'athletes': 550,
 'athletic': 551,
 'atlantic': 552,
 'atmosphere': 553,
 'atmospheric': 554,
 'atrice': 555,
 'atrocious': 556,
 'atrocities': 557,
 'attach': 558,
 'attack': 559,
 'attempt': 560,
 'attempts': 561,
 'attend': 562,
 'attendant': 563,
 'attention': 564,
 'attentions': 565,
 'attitude': 566,
 'attract': 567,
 'attraction': 568,
 'attractive': 569,
 'attributable': 570,
 'audacious': 571,
 'audacity': 572,
 'audible': 573,
 'audience': 574,
 'audiences': 575,
 'audit': 576,
 'audited': 577,
 'auditorium': 578,
 'august': 579,
 'augustinian': 580,
 'aunt': 581,
 'auspicious': 582,
 'austerity': 583,
 'austin': 584,
 'australia': 585,
 'australian': 586,
 'austrian': 587,
 'auteur': 588,
 'authentic': 589,
 'authentically': 590,
 'author': 591,
 'authority': 592,
 'autobiographical': 593,
 'automatically': 594,
 'autopilot': 595,
 'autopsy': 596,
 'avalanche': 597,
 'avant': 598,
 'average': 599,
 'averse': 600,
 'avid': 601,
 'avoid': 602,
 'avoids': 603,
 'awake': 604,
 'awaken': 605,
 'award': 606,
 'awarded': 607,
 'aware': 608,
 'awareness': 609,
 'away': 610,
 'awe': 611,
 'awesome': 612,
 'awful': 613,
 'awfully': 614,
 'awfulness': 615,
 'awkward': 616,
 'awkwardly': 617,
 'awkwardness': 618,
 'awry': 619,
 'ayatollah': 620,
 'baba': 621,
 'baby': 622,
 'babysitter': 623,
 'back': 624,
 'backdrop': 625,
 'backed': 626,
 'background': 627,
 'backhand': 628,
 'backlash': 629,
 'backmasking': 630,
 'backstage': 631,
 'backward': 632,
 'bad': 633,
 'badly': 634,
 'baffle': 635,
 'baffled': 636,
 'bag': 637,
 'bagatelle': 638,
 'baggage': 639,
 'bai': 640,
 'bait': 641,
 'bake': 642,
 'balance': 643,
 'balanced': 644,
 'balances': 645,
 'bald': 646,
 'ball': 647,
 'ballad': 648,
 'ballet': 649,
 'ballistic': 650,
 'ballot': 651,
 'ballplayers': 652,
 'ballroom': 653,
 'band': 654,
 'bang': 655,
 'bank': 656,
 'banker': 657,
 'bankrupt': 658,
 'bankset': 659,
 'banner': 660,
 'banners': 661,
 'banquet': 662,
 'banter': 663,
 'bar': 664,
 'barb': 665,
 'barbara': 666,
 'barbarian': 667,
 'barbershop': 668,
 'bard': 669,
 'bare': 670,
 'barely': 671,
 'bargain': 672,
 'bark': 673,
 'barker': 674,
 'barley': 675,
 'barn': 676,
 'barney': 677,
 'baroque': 678,
 'barrage': 679,
 'barrel': 680,
 'barrier': 681,
 'barrio': 682,
 'barrow': 683,
 'barry': 684,
 'barrymore': 685,
 'base': 686,
 'baseball': 687,
 'based': 688,
 'baseless': 689,
 'baseman': 690,
 'basement': 691,
 'bash': 692,
 'basic': 693,
 'basketball': 694,
 'bastard': 695,
 'bat': 696,
 'batch': 697,
 'batches': 698,
 'bath': 699,
 'bathroom': 700,
 'bathtub': 701,
 'batman': 702,
 'battle': 703,
 'battlefield': 704,
 'be': 705,
 'beach': 706,
 'beacon': 707,
 'bean': 708,
 'bear': 709,
 'bears': 710,
 'beast': 711,
 'beat': 712,
 'beautiful': 713,
 'beautifully': 714,
 'beauty': 715,
 'because': 716,
 'becker': 717,
 'become': 718,
 'becomes': 719,
 'bed': 720,
 'bedfellows': 721,
 'bedroom': 722,
 'bee': 723,
 'been': 724,
 'beer': 725,
 'before': 726,
 'befuddle': 727,
 'beg': 728,
 'begin': 729,
 'begins': 730,
 'beguile': 731,
 'behalf': 732,
 'behave': 733,
 'behavior': 734,
 'behaviour': 735,
 'behind': 736,
 'behold': 737,
 'being': 738,
 'belgium': 739,
 'beliefs': 740,
 'believability': 741,
 'believable': 742,
 'believe': 743,
 'believer': 744,
 'belly': 745,
 'bellyache': 746,
 'belong': 747,
 'belongs': 748,
 'beloved': 749,
 'below': 750,
 'belt': 751,
 'ben': 752,
 'bench': 753,
 'benchmark': 754,
 'bend': 755,
 'bender': 756,
 'beneath': 757,
 'benefit': 758,
 'benevolent': 759,
 'benign': 760,
 'benjamin': 761,
 'berkeley': 762,
 'bernard': 763,
 'berry': 764,
 'bertrand': 765,
 'besides': 766,
 'best': 767,
 'bestow': 768,
 'bestowed': 769,
 'bet': 770,
 'betrayal': 771,
 'better': 772,
 'betty': 773,
 'between': 774,
 'bewilder': 775,
 'bewilderingly': 776,
 'beyond': 777,
 'bias': 778,
 'bib': 779,
 'bibbidy': 780,
 'bible': 781,
 'bicker': 782,
 'bielinsky': 783,
 'big': 784,
 'bigger': 785,
 'biggest': 786,
 'bike': 787,
 'bile': 788,
 'bill': 789,
 'binary': 790,
 'bind': 791,
 'bio': 792,
 'biographical': 793,
 'biography': 794,
 'biologically': 795,
 'biopic': 796,
 'birmingham': 797,
 'birth': 798,
 'birthday': 799,
 'biscuit': 800,
 'bitch': 801,
 'bite': 802,
 'bites': 803,
 'bits': 804,
 'bitter': 805,
 'bittersweet': 806,
 'biz': 807,
 'bizarre': 808,
 'black': 809,
 'blackout': 810,
 'blade': 811,
 'bladerunner': 812,
 'blah': 813,
 'blair': 814,
 'blame': 815,
 'blanche': 816,
 'bland': 817,
 'blank': 818,
 'blasphemous': 819,
 'blast': 820,
 'blatant': 821,
 'blaxploitation': 822,
 'blaze': 823,
 'blazing': 824,
 'bleak': 825,
 'bleed': 826,
 'blend': 827,
 'blender': 828,
 'blessed': 829,
 'blind': 830,
 'blindly': 831,
 'blindness': 832,
 'blip': 833,
 'bliss': 834,
 'blisteringly': 835,
 'bloat': 836,
 'block': 837,
 'blockage': 838,
 'blockbuster': 839,
 'blonde': 840,
 'blood': 841,
 'bloodbath': 842,
 'bloodletting': 843,
 'bloodsucker': 844,
 'bloody': 845,
 'blow': 846,
 'blue': 847,
 'bluescreen': 848,
 'blunder': 849,
 'blurry': 850,
 'bmw': 851,
 'bo': 852,
 'board': 853,
 'boarders': 854,
 'boardwalk': 855,
 'boast': 856,
 'boasting': 857,
 'boat': 858,
 'boatload': 859,
 'bobbidi': 860,
 'bodies': 861,
 'body': 862,
 'bog': 863,
 'bogdanovich': 864,
 'bogged': 865,
 'bogs': 866,
 'bogus': 867,
 'boil': 868,
 'boisterous': 869,
 'bold': 870,
 'bolder': 871,
 'boldly': 872,
 'bollywood': 873,
 'bolster': 874,
 'bolstered': 875,
 'bolt': 876,
 'bomb': 877,
 'bombastic': 878,
 'bombshell': 879,
 'bon': 880,
 'bona': 881,
 'bond': 882,
 'bone': 883,
 'bonus': 884,
 'boo': 885,
 'booby': 886,
 'book': 887,
 'boom': 888,
 'boomer': 889,
 'boorishness': 890,
 'boost': 891,
 'boot': 892,
 'border': 893,
 'bordering': 894,
 'borderline': 895,
 'bore': 896,
 'boredom': 897,
 'borg': 898,
 'boring': 899,
 'borrow': 900,
 'boss': 901,
 'botch': 902,
 'both': 903,
 'bother': 904,
 'bottom': 905,
 'bottomlessly': 906,
 'bounce': 907,
 'bound': 908,
 'boundaries': 909,
 'bounty': 910,
 'bouquet': 911,
 'bourgeois': 912,
 'bout': 913,
 'bow': 914,
 'bowel': 915,
 'bowl': 916,
 'bowling': 917,
 'box': 918,
 'boxer': 919,
 'boy': 920,
 'boys': 921,
 'brace': 922,
 'bracing': 923,
 'brain': 924,
 'brainpower': 925,
 'branch': 926,
 'brand': 927,
 'brash': 928,
 'brass': 929,
 'brave': 930,
 'braveheart': 931,
 'bravely': 932,
 'bravery': 933,
 'bravo': 934,
 'brazil': 935,
 'breach': 936,
 'breaches': 937,
 'bread': 938,
 'breadth': 939,
 'break': 940,
 'breaks': 941,
 'breakthrough': 942,
 'breast': 943,
 'breath': 944,
 'breathe': 945,
 'breathless': 946,
 'breathtaking': 947,
 'breed': 948,
 'breeze': 949,
 'breillat': 950,
 'breitbart': 951,
 'brennan': 952,
 'brent': 953,
 'brett': 954,
 'brewery': 955,
 'brian': 956,
 'brick': 957,
 'bride': 958,
 'bridge': 959,
 'bright': 960,
 'brightest': 961,
 'brightly': 962,
 'brilliance': 963,
 'brilliant': 964,
 'brilliantly': 965,
 'bring': 966,
 'brings': 967,
 'brisk': 968,
 'brit': 969,
 'british': 970,
 'britney': 971,
 'brittle': 972,
 'broad': 973,
 'broader': 974,
 'broadway': 975,
 'brockovich': 976,
 'bromide': 977,
 'bronx': 978,
 'bronze': 979,
 'brood': 980,
 'brook': 981,
 'brooklyn': 982,
 'broomfield': 983,
 'brother': 984,
 'brothers': 985,
 'brought': 986,
 'brow': 987,
 'brown': 988,
 'brownish': 989,
 'browser': 990,
 'bruce': 991,
 'bruckheimer': 992,
 'bruise': 993,
 'bruised': 994,
 'brush': 995,
 'brutal': 996,
 'brutality': 997,
 'brutally': 998,
 'bryan': 999,
 ...}

# Now transform Training and Testing input text into vector using above vocab

In [59]:
train_x = vectorizer.transform(train.input_data1.values).toarray()
test_x = vectorizer.transform(test.input_data1.values).toarray()

train_y  = train.Sentiment.values
test_y = test.Sentiment.values

print(f"Training X: {len(train_x)} and Y: {len(train_y)}")
print(f"Testing X: {len(test_x)} and Y: {len(test_y)}")

Training X: 13023 and Y: 13023
Testing X: 3255 and Y: 3255

# Bernoulli Naive Bayes for Binary Classification

In [60]:
from sklearn.naive_bayes import BernoulliNB

clf = BernoulliNB()

clf.fit(train_x, train_y)

BernoulliNB()

# Now Apply prediction on Unseendata

In [61]:
y_predict = clf.predict(test_x)
y_predict

array([1, 1, 1, ..., 0, 0, 1])

# sklearn.metrics.classification_report

In [66]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(test_y, y_predict)
cm

array([[1247,  167],
       [ 104, 1737]])

<img src="https://camo.githubusercontent.com/64c6b2f75b9f7b1689c90077dddcd531fefb755f84cfce4b8efae4ca0d112918/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f3731322f312a5a35344a6762533444557757536b6e684443764e54512e706e67">

In [63]:
from sklearn.metrics import classification_report

#                            Actual, un-seen-data
print(classification_report(test_y,y_predict))

              precision    recall  f1-score   support

           0       0.92      0.88      0.90      1414
           1       0.91      0.94      0.93      1841

    accuracy                           0.92      3255
   macro avg       0.92      0.91      0.91      3255
weighted avg       0.92      0.92      0.92      3255

<img src="">

In [67]:
accuracy_score(test_y, y_predict)

0.9167434715821813